body{
    background-color: #2C8C99;
}
#background_video {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
h1{
    font-family: 'Cormorant SC', serif;
}
a{
        font-family: 'Cormorant SC', serif;
}
p{
    font-family: 'Cormorant SC', serif;
}
h4{
    font-family: 'Cormorant SC', serif;
}
span{
    font-family: 'Cormorant SC', serif;
}